kind: ConfigMap
apiVersion: v1
metadata:
  name: backend-config
  namespace: backend
data:
    MONGO_URI: mongodb://admin:password@mongo.database.svc.cluster.local:27017/notesdb?authSource=admin
    PORT: "5000"
